In [1]:
import ema as em
import matplotlib.pyplot as plt
import sympy as sp
import numpy as np

\pagebreak
# Problem 2 {.unnumbered}

In [2]:
p2 = em.Domain(2,3)

n1 = p2.node('1',  0.0, 0.0)
n2 = p2.node('2', 10.0, 0.0)
n3 = p2.node('3', 20.0, 0.0)
n4 = p2.node('4', 25.0, 0.0)
n5 = p2.node('5', 35.0, 0.0)

a, b, c, d = p2.girder('alpha', p2.nodes[0:4])

p2.hinge(d, n4)

p2.pin(n1)
p2.fix(n3, 'y')
p2.fix(n5, 'y')

p2.numDOF()

[[12, 13, 1], [2, 3, 4], [5, 14, 6], [7, 8, 9], [10, 15, 11]]

In [3]:
# fig, ax = plt.subplots(1,1)
# em.plot_structure(p5, ax)
p2.DOF

[[12, 13, 1], [2, 3, 4], [5, 14, 6], [7, 8, 9], [10, 15, 11]]

## Set up $A_f$ and $B_f$

### $A_f$

In [4]:
A = em.A_matrix(p2)
A.row_data
A = A.remove("frame-axial")
A.df

      1    2    3    4    5    6    7    8    9   10   11   12   13   14   15
a2  1.0  0.0 -0.1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 -0.0  0.1  0.0  0.0
a3  0.0  0.0 -0.1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 -0.0  0.1  0.0  0.0
b2  0.0 -0.0  0.1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 -0.1  0.0
b3  0.0 -0.0  0.1  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 -0.1  0.0
c2  0.0  0.0  0.0  0.0 -0.0  1.0  0.0 -0.2  0.0  0.0  0.0  0.0  0.0  0.2  0.0
c3  0.0  0.0  0.0  0.0 -0.0  0.0  0.0 -0.2  1.0  0.0  0.0  0.0  0.0  0.2  0.0
d2  0.0  0.0  0.0  0.0  0.0  0.0 -0.0  0.1  1.0  0.0  0.0  0.0  0.0  0.0 -0.1
d3  0.0  0.0  0.0  0.0  0.0  0.0 -0.0  0.1  0.0  0.0  1.0  0.0  0.0  0.0 -0.1

In [5]:
vert, other = A.combine("colinear")
other

{0.0}

### $B_f$

In [6]:
em.B_matrix(p2).df

     a1   a2   a3   b1   b2   b3   c1   c2   c3   d1   d3
12  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
13  1.0  0.0  0.0 -1.0 -0.0 -0.0  0.0  0.0  0.0  0.0  0.0
1   0.0 -0.1 -0.1 -0.0  0.1  0.1  0.0  0.0  0.0  0.0  0.0
2   0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
3   0.0  0.0  0.0  1.0  0.0  0.0 -1.0 -0.0 -0.0  0.0  0.0
4   0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0
5   0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0 -1.0 -0.0
14  0.0  0.0  0.0  0.0  0.0  0.0  0.0 -0.2 -0.2 -0.0  0.1
6   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
7   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
8   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
9  -1.0 -0.0 -0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10 -0.0  0.1  0.1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
15  0.0  0.0  0.0  0.0 -0.1 -0.1 -0.0  0.2  0.2  0.0  0.0
11  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 -0.1

In [7]:
U2 = np.linalg.inv(np.array([
    [-1/10, 1, 0, 0],
    [ 1/10, 1, 0, 0],
    [ 1/10, 0, 1, 0],
    [    0, 0, 1, -1/5],
]))@np.array([0, -0.001, 0.001, 0])
U2

array([-0.005 , -0.0005,  0.0015,  0.0075])